:root {
	--mintGreen: #C2E7D9;
	--lightBlue: #A6CFD5;
	--white: #FEFEFE;
	--black: #0D0221;
	--marianBlue: #26408B;
	--federalBlue: #0F084B;
}

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	background: var(--white);
	background-image: linear-gradient(to bottom left, var(--white), var(--white), var(--lightBlue));
	color: #0D0221;
	font-family: sans-serif;
	font-weight: bold;
}

div#main {
	margin: auto;
	margin-top: 5rem;
	border-radius: 20px;
	padding: 3rem;
	text-align: center;
	width: 15rem;
	background: var(--white);
	border: 4px solid var(--black);
	transition: opacity 500ms ease-in-out;
}

#randomNote {
	font-size: 4rem;
	height: 5rem;
}

#progress {
	margin: 1rem;
}

#generateNote {
	padding: 0.5rem 1rem;
	background: var(--mintGreen);
	border-radius: 20px;
	font-size: 2rem;
	border: none;
	font-weight: bold;
	width: 100%;
}

.hidden {
	opacity: 0;
}

#nav a {
	display: inline-block;
	padding: 1rem;
	margin-top: 0.5rem;
	color: var(--federalBlue);
}

.turbo-progress-bar {
	height: 10px;
	background-color: green;
}

.about {
  text-align: left;
}
