:root {
	--mintGreen: #C2E7D9;
	--lightBlue: #A6CFD5;
	--white: #FEFEFE;
	--black: #0D0221;
	--marianBlue: #26408B;
	--federalBlue: #0F084B;
}

html {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	background: var(--white);
	background-image: linear-gradient(to bottom left, var(--white), var(--white), var(--mintGreen), var(--white));
	color: #0D0221;
	font-weight: bold;
}

div#main {
	margin: auto;
	margin-top: 5rem;
	border-radius: 20px;
	padding: 3rem;
	text-align: center;
	width: 15rem;
	background: var(--white);
	border: 4px solid var(--black);
}

#randomNote {
	font-size: 4rem;
	height: 5rem;
}

#progress {
	margin: 0.5rem;
}

#generateNote {
	padding: 0.5rem 1rem;
	background: var(--mintGreen);
	border-radius: 20px;
	font-size: 2rem;
	border: none;
	font-weight: bold;
	width: 100%;
}
